body {
	background: #eeeeee;
}

.btn-container {
	background: white;
	margin: 30px auto;
	padding: 20px;
	width: 80%;
	border-radius: 4px;
}

button {
	background: #eeeeee;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 1rem;
}

.primary-btn {
	background: #1f9df5;
	color: white;
}
