body {
	background: #eeeeee;
}

.btn-container {
	background: white;
	margin: 30px auto;
	padding: 20px;
	width: 80%;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
		rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

button {
	background: #eeeeee;
	border: none;
	margin: 8px;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 1rem;
	outline: #d5e5ef solid 0px;
	transition: outline 0.2s ease;
}

.primary-btn {
	background: #1f9df5;
	color: white;
}

button:hover {
	outline: #d5e5ef solid 4px;
}

button:active {
	outline: #9dd2f3 solid 6px;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
	opacity: 0.9;
	cursor: not-allowed;
	outline: none;
	scale: 1;
}
